PORT=5050
MONGO_DB_URI=mongodb+srv://...
BETTER_AUTH_SECRET=your-secret
BETTER_AUTH_URL=http://localhost:5050
CLIENT_URL=http://localhost:3000

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
